<div class="container py-3">
  <label
    for="images"
    class="drop-container position-relative p-2"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <i class="fa-solid fa-cloud-arrow-up"></i>
    <span class="drop-title">Drop PDF or Word files here</span>
    or
    <input
      class="form-control p-2"
      type="text"
      id="nameFile"
      placeholder="Change file name"
      aria-label="default input example"
    />

    <input
      type="file"
      class="m-2"
      id="files"
      accept=".pdf, .docx, .doc"
      (change)="onFileSelected($event)"
      [(ngModel)]="this.sharedService.selectedFileName"
    />
    <div class="progress" *ngIf="this.sharedService.uploadProgress > 0">
      <div
        class="progress-bar p-2"
        role="progressbar"
        [style.width.%]="this.sharedService.uploadProgress"
      >
        {{ this.sharedService.uploadProgress }}%
      </div>
    </div>

    <button class="btn btn-primary uploadFile" (click)="uploadFile()">
      Upload
    </button>
    <div
      class="position-absolute top-100 start-50 translate-middle"
      *ngIf="this.sharedService.showAlert"
      [class]="
        'alert ' +
        (this.sharedService.alertSuccessColor
          ? 'alert-success'
          : 'alert-danger')
      "
      role="alert"
    >
      {{ this.sharedService.successMessage }}
    </div>
  </label>
</div>
