<nav
  class="navbar bg-dark border-bottom border-body navbar-expand-sm"
  data-bs-theme="dark"
>
  <!-- Navbar content -->
  <div ngbDropdown class="d-inline-block container">
    <button
      class="btn btn-outline-success btn-light"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Server Files
      <span class="badge text-bg-dark">{{
        this.sharedService.fileNames.length
      }}</span>
    </button>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div></div>
      <button
        *ngFor="let fileName of this.sharedService.fileNames"
        class="dropdown-item"
      >
        <i class="fas fa-download px-2" (click)="downloadFile(fileName)"></i>
        <i class="fas fa-trash px-2" (click)="deleteFile(fileName)"></i>
        {{ fileName }}
      </button>
    </div>
  </div>
</nav>
