
i{
    color: #ffffffb2;
    background: #ffffff38;
    border-radius: 5px;
    cursor: pointer;
}
.fa-download:hover{
    color: #ffffff;
    background: #198754;
}
.fa-trash:hover{
    color: #ffffff;
    background: #dc3545;
}
