<nav
  class="navbar bg-dark border-bottom border-body navbar-expand-sm"
  data-bs-theme="dark"
>
  <div
    ngbDropdown
    class="d-inline-block container d-flex justify-content-between"
  >
    <button
      class="btn btn-outline-success btn-light"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Server Files
      <span class="badge text-bg-dark">{{
        this.sharedService.fileNames.length
      }}</span>
    </button>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div
        *ngFor="let fileName of this.sharedService.fileNames"
        class="dropdown-item p-2 px-4"
      >
        <i
          class="fas fa-download mx-1 p-2"
          (click)="downloadFile(fileName)"
        ></i>
        <i class="fas fa-trash mx-1 p-2" (click)="deleteFile(fileName)"></i>
        {{ fileName }}
      </div>
    </div>
    <a class="navbar-brand" href="#">FILE-HUB</a>
  </div>
</nav>
